# Ignore
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.venv/
venv/

# Data
chroma_db/
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage
